<!DOCTYPE html>

<html>
    <head>
        <title>Covid-19 Support</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
        <body>

            {{>header}}
            <p id="message-1"></p>
            <p id="message-2"></p>
            <p id="message-3"></p>
            <p id="message-4"></p>
            <p id="message-5"></p>
            <p id="message-6"></p>

            {{footer}}
            <script src="/js/help.js"></script>
        </body>
</html>